---
layout: default
title: Civic research and development.
description: Synthesizing and amplifying critical themes powering modern government.
excerpt: Synthesizing and amplifying critical themes powering modern government.
jumbotron: home
action: 
---

<div class="container section">
    <div class="row">
        <div class="col-md-12">
            <h2>Research</h2>
        </div>
        <div class="col-md-12">
            {% include research.html %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p><a href="{{ site.baseurl }}/research">Research</a></p>
        </div>
    </div>
</div>
<div class="container section">
    <div class="row">
        <div class="col-md-12">
            <h2>News</h2>
        </div>
        <div class="col-md-12">
            {% include news.html %}
        </div>
    </div>
</div>
<div class="container people">
    <div class="row">
        <div class="col-md-12">
            <h2>People</h2>
            <p>Meet the CivicActions Think Tank team.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% include people-featured.html %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p><a href="{{ site.baseurl }}/people">People</a></p>
        </div>
    </div>
</div>